Valores das Variáveis 

    organics_downloads----------33981
    organics_visitors-----------185449
    organics_conv---------------0.20080434782608692
    organics_ret_1--------------327
    organics_ret_rate_1---------0.883989130434783
    organics_ret_7--------------313
    organics_ret_rate_7---------0.8436304347826085
    organics_ret_15-------------305
    organics_ret_rate_15--------0.820978260869565
    organics_ret_30-------------296
    organics_ret_rate_30--------0.7981413043478258
    motive_total----------------5679
    neg_rev_num-----------------129
    pos_rev_num-----------------1236
    neg_rev_comtxt_num----------106
    pos_rev_comtxt_num----------563
    organics_churn_rate_1-------0.116010869565217
    organics_churn_rate_7-------0.15636956521739154
    organics_churn_rate_15------0.17902173913043495
    organics_churn_rate_30------0.20185869565217418
    organics_cres---------------27121
    ratings---------------------4.398485648881845
    organic_uplift--------------2.9220913234155987

In [1]:
#Importando Bibliotecas

import xlsxwriter
import pandas as pd
import numpy as np
import re
from pandas import DataFrame

In [2]:
#Lendo Arquivo
dataRaw = ('analise_de_dados_organicos.xlsx')
xl = pd.ExcelFile(dataRaw)

In [3]:
#Dividindo as Folhas
sheet1 = xl.parse('Case')
sheet2 = xl.parse('Reviews_Bank')
sheet3 = xl.parse('Retained_Bank')
sheet4 = xl.parse('Competitors_Bank')
sheet5 = xl.parse('Ranking_Bank')

# Análise dos dados presente nas folhas

In [4]:
sheet2.head()

,Package Name,App Version Name,Reviewer Language,Device,Review Last Update Date and Time,Star Rating,Review Title,Review Text,Sentiment
0,B4 Bank,6.10.6,pt,greatlte,2019-10-01T00:09:07Z,5,NaN,NaN,Positive
1,B4 Bank,6.10.6,pt,mido,2019-10-01T00:18:49Z,5,NaN,NaN,Positive
2,B4 Bank,6.10.6,pt,on5xelte,2019-10-01T00:34:35Z,5,NaN,Boa,Positive
3,B4 Bank,6.10.6,pt,dreamlte,2019-10-01T00:44:18Z,2,NaN,"Não consigo gerar a fatura em PDF, no mesmo fo...",Negative
4,B4 Bank,6.10.6,pt,starqltechn,2019-10-01T01:09:56Z,4,NaN,NaN,Positive

In [5]:
sheet2.describe()

       Star Rating
count  5679.000000
mean      4.398486
std       1.135829
min       1.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000

In [6]:
sheet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5679 entries, 0 to 5678
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Package Name                      5679 non-null   object
 1   App Version Name                  5423 non-null   object
 2   Reviewer Language                 5679 non-null   object
 3   Device                            5673 non-null   object
 4   Review Last Update Date and Time  5679 non-null   object
 5   Star Rating                       5679 non-null   int64
 6   Review Title                      1 non-null      object
 7   Review Text                       2756 non-null   object
 8   Sentiment                         1428 non-null   object
dtypes: int64(1), object(8)
memory usage: 399.4+ KB

In [7]:
sheet3.head()

,Date,Package Name,Acquisition Channel,Store Listing Visitors,Installers,Visitor-to-Installer conversion rate,Installers retained for 1 day,Installer-to-1 day retention rate,Installers retained for 7 days,Installer-to-7 days retention rate,Installers retained for 15 days,Installer-to-15 days retention rate,Installers retained for 30 days,Installer-to-30 days retention rate
0,2019-08-01 00:00:00,B4 Bank,Organic,1628,414,0.254,359,0.867,344,0.831,335,0.809,330,0.797
1,2019-08-01 00:00:00,B4 Bank,Third-party referrers,514,46,0.089,38,0.826,35,0.761,32,0.696,30,0.652
2,2019-08-01 00:00:00,B4 Bank,Other,113,23,0.204,17,0.739,17,0.739,14,0.609,13,0.565
3,2019-08-02 00:00:00,B4 Bank,Organic,1610,407,0.253,354,0.870,338,0.830,330,0.811,322,0.791
4,2019-08-02 00:00:00,B4 Bank,Tracked channels (UTM),55,10,0.182,10,1000.000,10,1000.000,9,0.900,8,0.800

In [8]:
sheet3.describe()

,Store Listing Visitors,Installers,Visitor-to-Installer conversion rate,Installers retained for 1 day,Installer-to-1 day retention rate,Installers retained for 7 days,Installer-to-7 days retention rate,Installers retained for 15 days,Installer-to-15 days retention rate,Installers retained for 30 days,Installer-to-30 days retention rate
count,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000
mean,1041.201893,143.880126,0.142915,121.747634,123.739284,113.630915,60.644382,109.514196,48.009088,105.091483,32.215413
std,1231.963441,175.450807,0.080868,154.328494,328.722443,147.485934,237.566314,143.769277,212.501082,139.995347,174.942679
min,51.000000,3.000000,0.007000,3.000000,0.429000,2.000000,0.286000,2.000000,0.286000,2.000000,0.222000
25%,105.000000,12.000000,0.086000,11.000000,0.750000,10.000000,0.667000,9.000000,0.615000,9.000000,0.571000
50%,458.000000,33.000000,0.144000,25.000000,0.867000,24.000000,0.808000,23.000000,0.778000,21.000000,0.750000
75%,1584.000000,275.000000,0.204000,208.000000,0.906000,189.000000,0.864000,181.000000,0.848000,174.000000,0.818000
max,8292.000000,875.000000,0.314000,809.000000,1000.000000,784.000000,1000.000000,768.000000,1000.000000,751.000000,1000.000000

In [9]:
sheet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  317 non-null    object
 1   Package Name                          317 non-null    object
 2   Acquisition Channel                   317 non-null    object
 3   Store Listing Visitors                317 non-null    int64
 4   Installers                            317 non-null    int64
 5   Visitor-to-Installer conversion rate  317 non-null    float64
 6   Installers retained for 1 day         317 non-null    int64
 7   Installer-to-1 day retention rate     317 non-null    float64
 8   Installers retained for 7 days        317 non-null    int64
 9   Installer-to-7 days retention rate    317 non-null    float64
 10  Installers retained for 15 days       317 non-null    int64
 11  Installer-to-15 days retention rate   317 non-null    float64
 12  Installers retained for 30 days       317 non-null    int64
 13  Installer-to-30 days retention rate   317 non-null    float64
dtypes: float64(5), int64(6), object(3)
memory usage: 34.8+ KB

In [10]:
sheet4.head()

      MONTH    DATE COMPETITOR  RANKING
0  Oct 2019  31-Oct    A4 Bank        1
1  Oct 2019  31-Oct    Z6 Bank       11
2  Oct 2019  31-Oct    D3 Bank       15
3  Oct 2019  31-Oct    B2 Bank       27
4  Oct 2019  31-Oct    C1 Bank       70

In [11]:
sheet4.describe()

          RANKING
count  555.000000
mean    49.805405
std     61.417712
min      1.000000
25%     11.000000
50%     17.000000
75%     76.000000
max    234.000000

In [12]:
sheet4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MONTH       555 non-null    object
 1   DATE        555 non-null    object
 2   COMPETITOR  555 non-null    object
 3   RANKING     555 non-null    int64
dtypes: int64(1), object(3)
memory usage: 17.5+ KB

In [13]:
sheet5.head()

   Order Classification        Date  Quantity
0      1       TOP 1-10  2019-10-31        54
1      2      TOP 11-20  2019-10-31        19
2      3      TOP 21-30  2019-10-31        25
3      4      TOP 31-40  2019-10-31        37
4      5      TOP 41-50  2019-10-31        30

In [14]:
sheet5.describe()

           Order    Quantity
count  455.00000  455.000000
mean     3.00000   24.046154
std      1.41577   17.696289
min      1.00000    3.000000
25%      2.00000   13.000000
50%      3.00000   19.000000
75%      4.00000   30.000000
max      5.00000  256.000000

In [15]:
sheet5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order           455 non-null    int64
 1   Classification  455 non-null    object
 2   Date            455 non-null    object
 3   Quantity        455 non-null    int64
dtypes: int64(2), object(2)
memory usage: 14.3+ KB

# Levantar as métricas

In [16]:
#Renomeando Colunas para trabalhar mais fácil
organics = sheet3
organics = organics.rename(columns={'Acquisition Channel': 'Acquisition',
                                    'Store Listing Visitors': 'Vis',
                                    'Visitor-to-Installer conversion rate': 'Vis_inst_rate',
                                    'Installers retained for 1 day':'Inst_ret_1',
                                    'Installer-to-1 day retention rate': 'Inst_ret_rate_1',
                                    'Installers retained for 7 days': 'Inst_ret_7',
                                    'Installer-to-7 days retention rate': 'Inst_ret_rate_7',
                                    'Installers retained for 15 days': 'Inst_ret_15',
                                    'Installer-to-15 days retention rate': 'Inst_ret_rate_15',
                                    'Installers retained for 30 days': 'Inst_ret_30',
                                    'Installer-to-30 days retention rate': 'Inst_ret_rate_30'}, inplace = False)
organics['Acquisition'][organics['Acquisition'].str.contains('channels')] = 'Tracked'

/home/adolpho/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
#Filtrando Apenas Métricas Orgnânicas
organics_index = (organics['Acquisition'] == 'Organic')
organics = organics[organics_index]

In [18]:
#Número de Instalações Orgânicas
organics_downloads = organics.Installers.sum()

In [19]:
#Número de Visitantes Orgânicos
organics_visitors = organics.Vis.sum()

In [20]:
#Calculando Médias Orgânicas
organics_conv = np.mean(organics.Vis_inst_rate)
organics_ret_1 = np.mean(organics.Inst_ret_1)
organics_ret_rate_1 = np.mean(organics.Inst_ret_rate_1)
organics_ret_7 = np.mean(organics.Inst_ret_7)
organics_ret_rate_7 = np.mean(organics.Inst_ret_rate_7)
organics_ret_15 = np.mean(organics.Inst_ret_15)
organics_ret_rate_15 = np.mean(organics.Inst_ret_rate_15)
organics_ret_30 = np.mean(organics.Inst_ret_30)
organics_ret_rate_30 = np.mean(organics.Inst_ret_rate_30)

In [21]:
#Separando Motivos Negativos e Positivos em Duas Tabelas
motive = sheet2
motive_neg_index = (motive['Sentiment'] == 'Negative')
motive_pos_index = (motive['Sentiment'] == 'Positive')
motive_neg = motive[motive_neg_index]
motive_pos = motive[motive_pos_index]

In [22]:
#Diminuindo Tabela Para Trabalhar mais Rápido
to_drop = ['Package Name', 'App Version Name', 'Reviewer Language', 'Device', 'Review Last Update Date and Time', 'Star Rating', 'Review Title']
motive_neg.drop(to_drop, inplace=True, axis=1)
motive_pos.drop(to_drop, inplace=True, axis=1)

/home/adolpho/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
#Medindo Reviews Totais, Positivos e Negativos
motive_total = len(motive)
neg_rev_num = len(motive_neg)
pos_rev_num = len(motive_pos)

In [24]:
#Filtrando Se Possui Texto e Calculando Quantos Sobram
motive_neg = motive_neg['Review Text'].dropna()
neg_rev_comtxt_num = len(motive_neg)
motive_pos = motive_pos['Review Text'].dropna()
pos_rev_comtxt_num = len(motive_pos)

In [25]:
#Calcular o churn
organics_churn_rate_1 = (1 -organics_ret_rate_1)
organics_churn_rate_7 = (1 -organics_ret_rate_7)
organics_churn_rate_15 = (1 -organics_ret_rate_15)
organics_churn_rate_30 = (1 -organics_ret_rate_30)

In [26]:
#Calcular Estimativa Quantos Foram Capturados e Permanecerão por Mais de 30 Dias
organics_cres = (organics_downloads * organics_ret_rate_30)
organics_cres = int(organics_cres)

In [27]:
#Renomeando para Precaver Danificação do Original
s2 = sheet2
s2 = s2.rename(columns={'Star Rating': 'Rating'}, inplace = False)

In [28]:
#Calcular média das avaliações
ratings = np.mean(s2.Rating)

In [29]:
#Calcular o organic Uplift 1/2
#Já foi calculado instalações organicas em organics_downloads
s3 = sheet3
s3 = s3.rename(columns={'Acquisition Channel': 'Acquisition'}, inplace = False)
non_organics_index = (s3['Acquisition'] != 'Organic')
non_organics = s3[non_organics_index]

In [30]:
#Calcular o organic Uplift 2/2
non_organics_downloads = non_organics.Installers.sum()
organic_uplift = (organics_downloads / non_organics_downloads)

In [31]:
#Criando Tabela das Folhas 1/3
data = {'Organic Store Visitors':  [organics_visitors],
        'Installers': [organics_downloads],
        'Visitors-to-Installers Conversion Rate': [organics_conv],
        'Installer retained for 1 day': [organics_ret_1],
        'Installer-to-1 day retained conversion': [organics_ret_rate_1],
        'Installer retained for 7 days': [organics_ret_7],
        'Installer-to-7 days retained conversion': [organics_ret_rate_7],
        'Installer retained for 15 days': [organics_ret_15],
        'Installer-to-15 days retained conversion': [organics_ret_rate_15],
        'Installer retained for 30 days': [organics_ret_30],
        'Installer-to-30 days retained conversion': [organics_ret_rate_30]}
out_1 = pd.DataFrame (data, columns = ['Organic Store Visitors',
                                       'Installers',
                                       'Visitors-to-Installers Conversion Rate',
                                       'Installer retained for 1 day',
                                       'Installer-to-1 day retained conversion',
                                       'Installer retained for 7 days',
                                       'Installer-to-7 days retained conversion',
                                       'Installer retained for 15 days',
                                       'Installer-to-15 days retained conversion',
                                       'Installer retained for 30 days',
                                       'Installer-to-30 days retained conversion'])

In [32]:
#Criando Tabela das Folhas 2/3
data = {'Churn Rate 1 day':  [organics_churn_rate_1],
        'Churn Rate 7 days': [organics_churn_rate_7],
        'Churn Rate 15 days': [organics_churn_rate_15],
        'Churn Rate 30 days': [organics_churn_rate_30],
        'Installers retained for at least 30 days': [organics_cres],
        'Organic growing rate': [organics_conv],
        'Organic uplifting': [organic_uplift]}
out_2 = pd.DataFrame (data, columns = ['Churn Rate 1 day',
                                       'Churn Rate 7 days',
                                       'Churn Rate 15 days',
                                       'Churn Rate 30 days',
                                       'Installers retained for at least 30 days',
                                       'Organic growing rate',
                                       'Organic uplifting'])

In [33]:
#Criando Tabela das Folhas 3/3
data = {'Rating': [ratings],
        'Number of reviews': [motive_total],
        'Reviews with positive sentiment': [pos_rev_num],
        'Reviews with positive sentiment and write a message': [pos_rev_comtxt_num],
        'Reviews with negative sentiment': [neg_rev_num],
        'Reviews with negative sentiment and write a message': [neg_rev_comtxt_num]}
out_3 = pd.DataFrame (data, columns = ['Rating',
        'Number of reviews',
        'Reviews with positive sentiment',
        'Reviews with positive sentiment and write a message',
        'Reviews with negative sentiment',
        'Reviews with negative sentiment and write a message'])

In [34]:
#Criando Folha Reviews x Data 1/2
#Renomer Coluna Data
Rev_date = sheet2
Rev_date = Rev_date.rename(columns={'Review Last Update Date and Time': 'Date'}, inplace = False)

In [35]:
#Criando Folha Reviews x Data 2/2
#Deixar Apenas as Colunas Date e Star Rating e Formatando a Data
to_drop = ['Package Name','App Version Name', 'Reviewer Language', 'Device', 'Review Title', 'Review Text', 'Sentiment']
Rev_date.drop(to_drop, inplace=True, axis=1)
Rev_date['Date'] = [x[5:10] for x in Rev_date['Date']]

In [36]:
#Criando Tabela Orgânicos Supondo Que a Data Está Errada e Deve Continuar a Sequência
#Tirar Colunas, Inclusive a Date 
Org_date = organics
to_drop = ['Date','Package Name','Acquisition']
Org_date.drop(to_drop, inplace=True, axis=1)

In [37]:
#Criando Tabela Orgânicos Supondo que a Data Está Errada e Deve Continuar a Sequência
#Recriando a Coluna Date Como String
Org_date['Date'] = pd.date_range('20190801', periods=92, freq='D').astype(str)

In [38]:
#Selecionando Dia e Mês, e Mudando Coluna Date para Começo da Tabela
Org_date['Date'] = [x[5:10] for x in Org_date['Date']]
Org_date = Org_date.reindex(columns=['Date','Vis', 'Installers', 'Vis_inst_rate', 'Inst_ret_1', 'Inst_ret_rate_1',
       'Inst_ret_7', 'Inst_ret_rate_7', 'Inst_ret_15', 'Inst_ret_rate_15',
       'Inst_ret_30', 'Inst_ret_rate_30'])

In [39]:
Org_date = Org_date.rename(columns={'Vis': 'Organic Store Visitors',
                                    'Vis_inst_rate':'Visitor-to-Installer conversion rate',
                                    'Inst_ret_1':'Installers retained for 1 day',
                                    'Inst_ret_rate_1':'Installer-to-1 day retention rate',
                                    'Inst_ret_7':'Installers retained for 7 days',
                                    'Inst_ret_rate_7':'Installer-to-7 days retention rate',
                                    'Inst_ret_15':'Installers retained for 15 days',
                                    'Inst_ret_rate_15':'Installer-to-15 days retention rate',
                                    'Inst_ret_30':'Installers retained for 30 days',
                                    'Inst_ret_rate_30':'Installer-to-30 days retention rate'}, inplace = False)

In [40]:
#Criando Tabela de Comparação
#Tirar Coluna Month da folha 4
Bench_date = sheet4
to_drop = ['MONTH']

In [41]:
#Criando Tabela de Comparação
#Tirar Coluna Month da folha 4
Bench_date.drop(to_drop, inplace=True, axis=1)

In [42]:
#Criando tabela de Keywords por Date
Kw_date = sheet5
to_drop = ['Classification', 'Order']

In [43]:
#Criando tabela de Keywords por Date
Kw_date.drop(to_drop, inplace=True, axis=1)
Kw_date['Date'] = [x[5:10] for x in Kw_date['Date']]

### Criar arquivo Excel

In [44]:
#Criando Folhas
writer = pd.ExcelWriter('Resultado_analise.xlsx', engine='xlsxwriter')
out_1.to_excel(writer, index=False, sheet_name='General Numbers')
out_2.to_excel(writer, index=False, sheet_name='KPIs')
out_3.to_excel(writer, index=False, sheet_name='Reviews')
Rev_date.to_excel(writer, index=False, sheet_name='Review x Date')
Org_date.to_excel(writer, index=False, sheet_name='Organics x Date')
Kw_date.to_excel(writer, index=False, sheet_name='Keywords x Date')
Bench_date.to_excel(writer, index=False, sheet_name='Competitor x Date')

In [45]:
#Escrevendo as Folhas
workbook = writer.bookworksheet = writer.sheets['General Numbers'],['KPIs'],['Reviews'],['Review x Date'],['Organics x Date'],['Keywords x Date'],['Competitor x Date'],['Review and Predicted Sentiment']

In [46]:
#Criar Tabelas com Resultados
writer.save()