# Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.metrics import precision_score
%matplotlib inline

from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# Ler o arquivo

In [2]:
data = pd.read_csv('adult.csv', header= None)

In [3]:
data.columns = ["Age","Workclass","fnlwgt","Education","Education-Num","Marital_Status","Occupation", "Relationship", "Race","Gender","Capital-Gain","Capital-Loss","Hour_Per_Week","Native","Income"]

# Verificando o arquivo

In [4]:
data.head()

,Age,Workclass,fnlwgt,Education,Education-Num,Marital_Status,Occupation,Relationship,Race,Gender,Capital-Gain,Capital-Loss,Hour_Per_Week,Native,Income
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
1,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
2,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
3,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
4,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K

In [5]:
data.shape

(48843, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             48843 non-null  object
 1   Workclass       46044 non-null  object
 2   fnlwgt          48843 non-null  object
 3   Education       48843 non-null  object
 4   Education-Num   48843 non-null  object
 5   Marital_Status  48843 non-null  object
 6   Occupation      46034 non-null  object
 7   Relationship    48843 non-null  object
 8   Race            48843 non-null  object
 9   Gender          48843 non-null  object
 10  Capital-Gain    48843 non-null  object
 11  Capital-Loss    48843 non-null  object
 12  Hour_Per_Week   48843 non-null  object
 13  Native          47986 non-null  object
 14  Income          48843 non-null  object
dtypes: object(15)
memory usage: 5.6+ MB

In [7]:
data.isnull().sum()

Age                  0
Workclass         2799
fnlwgt               0
Education            0
Education-Num        0
Marital_Status       0
Occupation        2809
Relationship         0
Race                 0
Gender               0
Capital-Gain         0
Capital-Loss         0
Hour_Per_Week        0
Native             857
Income               0
dtype: int64

In [8]:
data.describe()

,Age,Workclass,fnlwgt,Education,Education-Num,Marital_Status,Occupation,Relationship,Race,Gender,Capital-Gain,Capital-Loss,Hour_Per_Week,Native,Income
count,48843,46044,48843,48843,48843,48843,46034,48843,48843,48843,48843,48843,48843,47986,48843
unique,6,9,28524,17,17,8,15,7,6,3,6,6,6,42,3
top,1,Private,203488,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,2,United-States,<=50K
freq,12719,33906,21,15784,15784,22379,6172,19716,41762,32650,44807,46560,27809,43832,37155

# Fazendo Feature Engineering

In [9]:
#Adicionando os itens mais comuns
data['Workclass'].fillna(('Private'), inplace=True)
data['Occupation'].fillna(('Prof-specialty'), inplace=True)
data['Native'].fillna(('United-States'), inplace=True)

In [10]:
#Renomenado dados parecidos para mesmo grupo
data['Education'][data['Education'].str.contains('th')] = 'Basic-Education'
data['Education'][data['Education'].str.contains('HS')] = 'Basic-Education'
data['Education'][data['Education'].str.contains('Pre')] = 'Basic-Education'
data['Education'][data['Education'].str.contains('Assoc')] = 'Intermediate-Education'
data['Education'][data['Education'].str.contains('Some')] = 'Intermediate-Education'
data['Education'][data['Education'].str.contains('Prof')] = 'Intermediate-Education'
data['Workclass'][data['Workclass'].str.contains('gov')] = 'Government'
data['Workclass'][data['Workclass'].str.contains('not')] = 'No-Income'
data['Workclass'][data['Workclass'].str.contains('pay')] = 'No-Income'
data['Workclass'][data['Workclass'].str.contains('Never')] = 'No-Income'

In [11]:
#Dispensando colunas não tão valiosas, apesar de capital gain e loss se juntadas e normalizada ser muito valiosa
to_drop = ['fnlwgt', 'Education-Num', 'Capital-Gain', 'Capital-Loss']
data.drop(to_drop, inplace=True, axis=1)

# Fazendo um dicionário

#Criando Dummy

Workclass   'Government':0
            'No-Income':1
            'Private':2
            'Self-emp-inc':3

Age    '0':0      Não lembro a faixa para cada valor
       '1':1
       '2':2
       '3':3
       '4':4

'over50K'    'Abaixo' : 0
             'Acima' : 1

Occupation    'Adm-clerical':0
              'Armed-Forces':1
              'Exec-managerial':2
              'Handlers-cleaners':3
              'Other-service':3
              'Farming-fishing':3
              'Protective-serv':3                                  
              'Priv-house-serv':3
              'Prof-specialty':4
              'Craft-repair':4
              'Transport-moving':4
              'Machine-op-inspct':4
              'Tech-support':4
              'Sales':5
              
                                                

Race    'Amer-Indian-Eskimo':0
        'Asian-Pac-Islander':1
        'Black':2
        'Other':3
        'White':4


Gender    'Female':0
          'Male':1

Native    'Cuba':0
          'Jamaica':0
          'Mexico':0
          'South':0
          'Puerto-Rico':0
          'Honduras':0
          'Columbia':0
          'Ecuador':0
          'Haiti':0
          'Dominican-Republic':0
          'El-Salvador':0
          'Guatemala':0
          'Nicaragua':0
          'Peru':0
          'Vietnam':1
          'Hong':1
          'China':1
          'Laos':1
          'Taiwan':1
          'Cambodia':1
          'Thailand':1
          'India':1
          'Philippines':1
          'Iran':1
          'Japan':2
          'Canada':2
          'Poland':3
          'Yugoslavia':3
          'Trinadad&Tobago':3
          'Greece':3
          'Hungary':3
          'Portugal':4
          'Germany':4
          'Italy':4
          'England':4  
          'France':4
          'Scotland':4
          'Ireland':4
          'Holand-Netherlands':4
          'United-States':5
          
                                     

Education    'Bachelors':0 
             'Basic-Education':1
             'Doctorate':2
             'Intermediate-Education':3                  
             'Masters':4
             

Marital_Status    'Married-civ-spouse':0
                  'Married-AF-spouse':0
                  'Never-married':1
                  'Married-spouse-absent':1
                  'Divorced':2
                  'Widowed':2
                  'Separated':2

Relationship 'Not-in-family':0
             'Unmarried':0
             'Other-relative':0
             'Own-child':1
             'Husband':2
             'Wife':2

In [12]:
#Dropando dados ruins
data = data.drop([1566, 4234, 4509, 7026, 14681, 16121, 19130, 21666, 26387, 28495, 28576, 29917, 30089, 31687, 36267, 38341, 39087, 41336, 42612, 42991, 45703, 48421, 48766], axis=0)

In [13]:
#Acertando os nomes para depois fazer o dicionário

data['Occupation'] = data['Occupation'].str.replace('Handlers-cleaners', 'Other-service')
data['Occupation'] = data['Occupation'].str.replace('Farming-fishing', 'Other-service')
data['Occupation'] = data['Occupation'].str.replace('Protective-serv', 'Other-service')
data['Occupation'] = data['Occupation'].str.replace('Priv-house-serv', 'Other-service')
data['Occupation'] = data['Occupation'].str.replace('Craft-repair', 'Prof-specialty')
data['Occupation'] = data['Occupation'].str.replace('Transport-moving', 'Prof-specialty')
data['Occupation'] = data['Occupation'].str.replace('Machine-op-inspct', 'Prof-specialty')
data['Occupation'] = data['Occupation'].str.replace('Tech-support', 'Prof-specialty')

data['Native'] = data['Native'].str.replace('Cuba', 'America')
data['Native'] = data['Native'].str.replace('Jamaica', 'America')
data['Native'] = data['Native'].str.replace('Mexico', 'America')
data['Native'] = data['Native'].str.replace('South', 'America')
data['Native'] = data['Native'].str.replace('Puerto-Rico', 'America')
data['Native'] = data['Native'].str.replace('Honduras', 'America')
data['Native'] = data['Native'].str.replace('Columbia', 'America')
data['Native'] = data['Native'].str.replace('Ecuador', 'America')
data['Native'] = data['Native'].str.replace('Haiti', 'America')
data['Native'] = data['Native'].str.replace('Dominican-Republic', 'America')
data['Native'] = data['Native'].str.replace('El-Salvador', 'America')
data['Native'] = data['Native'].str.replace('Guatemala', 'America')
data['Native'] = data['Native'].str.replace('Nicaragua', 'America')
data['Native'] = data['Native'].str.replace('Peru', 'America')
data['Native'] = data['Native'].str.replace('Vietnam', 'Asia')
data['Native'] = data['Native'].str.replace('Hong', 'Asia')
data['Native'] = data['Native'].str.replace('China', 'Asia')
data['Native'] = data['Native'].str.replace('Laos', 'Asia')
data['Native'] = data['Native'].str.replace('Taiwan', 'Asia')
data['Native'] = data['Native'].str.replace('Cambodia', 'Asia')
data['Native'] = data['Native'].str.replace('Thailand', 'Asia')
data['Native'] = data['Native'].str.replace('India', 'Asia')
data['Native'] = data['Native'].str.replace('Philippines', 'Asia')
data['Native'] = data['Native'].str.replace('Iran', 'Asia')
data['Native'] = data['Native'].str.replace('Portugal', 'Europe')
data['Native'] = data['Native'].str.replace('Germany', 'Europe')
data['Native'] = data['Native'].str.replace('Italy', 'Europe')
data['Native'] = data['Native'].str.replace('England', 'Europe')
data['Native'] = data['Native'].str.replace('France', 'Europe')
data['Native'] = data['Native'].str.replace('Scotland', 'Europe')
data['Native'] = data['Native'].str.replace('Ireland', 'Europe')
data['Native'] = data['Native'].str.replace('Holand-Netherlands', 'Europe')
data['Native'] = data['Native'].str.replace('Canada', 'Can-Jap')
data['Native'] = data['Native'].str.replace('Japan', 'Can-Jap')
data['Native'] = data['Native'].str.replace('Poland', 'East-Europe')
data['Native'] = data['Native'].str.replace('Yugoslavia', 'East-Europe')
data['Native'] = data['Native'].str.replace('Trinadad&Tobago', 'East-Europe')
data['Native'] = data['Native'].str.replace('Greece', 'East-Europe')
data['Native'] = data['Native'].str.replace('Hungary', 'East-Europe')

data['Marital_Status'] = data['Marital_Status'].str.replace('Married-spouse-absent', 'Never-married')
data['Marital_Status'] = data['Marital_Status'].str.replace('Married-civ-spouse', 'Married')
data['Marital_Status'] = data['Marital_Status'].str.replace('Married-AF-spouse', 'Married')
data['Marital_Status'] = data['Marital_Status'].str.replace('Divorced', 'Separated')
data['Marital_Status'] = data['Marital_Status'].str.replace('Widowed', 'Separated')

data['Relationship'] = data['Relationship'].str.replace('Unmarried', 'Not-in-family')
data['Relationship'] = data['Relationship'].str.replace('Other-relative', 'Not-in-family')
data['Relationship'] = data['Relationship'].str.replace('Husband', 'Spouse')
data['Relationship'] = data['Relationship'].str.replace('Wife', 'Spouse')

In [14]:
#Passando tudo para category
data['Age']  = data['Age'].astype('category')
data['Workclass']  = data['Workclass'].astype('category')
data['Education']  = data['Education'].astype('category')
data['Marital_Status']  = data['Marital_Status'].astype('category')
data['Occupation']  = data['Occupation'].astype('category')
data['Relationship']  = data['Relationship'].astype('category')
data['Race']  = data['Race'].astype('category')
data['Gender']  = data['Gender'].astype('category')
data['Hour_Per_Week']  = data['Hour_Per_Week'].astype('category')
data['Native']  = data['Native'].astype('category')
data['Income']  = data['Income'].astype('category')

In [15]:
#Primeira linha é com header
data = data.drop(data.index[0])

In [16]:
#Passando tudo para numero de category
data['Age']  = data['Age'].cat.codes
data['Workclass']  = data['Workclass'].cat.codes
data['Education']  = data['Education'].cat.codes
data['Marital_Status']  = data['Marital_Status'].cat.codes
data['Occupation']  = data['Occupation'].cat.codes
data['Relationship']  = data['Relationship'].cat.codes
data['Race']  = data['Race'].cat.codes
data['Gender']  = data['Gender'].cat.codes
data['Hour_Per_Week']  = data['Hour_Per_Week'].cat.codes
data['Native']  = data['Native'].cat.codes
data['Income']  = data['Income'].cat.codes

# Base Categorizada
    
    Fazer o KNN com Cross-Validation e pegar o ACC

In [17]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import recall_score
from sklearn.metrics import average_precision_score
import numpy as np

In [18]:
data

,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Gender,Hour_Per_Week,Native,Income
1,2,0,0,1,0,0,4,1,2,5,0
2,3,1,0,0,2,2,4,1,0,5,0
3,2,2,1,2,3,0,4,1,2,5,0
4,3,2,1,0,3,2,2,1,2,5,0
5,1,2,0,0,4,2,2,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...
48838,2,2,0,2,4,0,4,0,2,5,0
48839,4,2,1,2,4,0,2,1,2,5,0
48840,2,2,0,0,4,2,4,1,3,5,0
48841,2,2,0,2,0,1,1,1,2,5,0
48842,1,3,0,0,2,2,4,1,3,5,1

In [19]:
X = data[['Age', 'Workclass', 'Education', 'Marital_Status', 'Occupation', 'Relationship', 'Race', 'Gender', 'Hour_Per_Week', 'Native']]
y = data['Income']

# Construindo KNN

# Como tem poucos casos positivos, apenas 11K contra 36K, então o F1-Score faz sentido de ser aplicado

In [20]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3) # 70% training and 30% test

In [21]:
scoring = ['precision_macro', 'accuracy', 'f1_macro', 'recall_macro']
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=23)
#train model with cv of 10

scores = cross_validate(knn_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.8239824748305031
Precision =  0.7641868413253441
Recall =  0.7226186483142333
F1-Score =  0.7387462297322328

# SVM

In [22]:
from sklearn import svm

In [23]:
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
scores = cross_validate(clf, X, y, scoring=scoring)
sorted(scores.keys())
print('Recall Macro: ',scores['test_recall_macro'])
print('-------------------------\n')
print('Precision Macro: ',scores['test_precision_macro'])
print('-------------------------\n')
print('Accuracy: ',scores['test_accuracy'])
print('-------------------------\n')
print('F1-Score: ',scores['test_f1_macro'])

/home/adolpho/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/adolpho/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/adolpho/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/adolpho/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Recall Macro:  [0.5 0.5 0.5 0.5 0.5]
-------------------------

Precision Macro:  [0.38032569 0.38032569 0.38032569 0.38027448 0.38031343]
-------------------------

Accuracy:  [0.76065137 0.76065137 0.76065137 0.76054896 0.76062686]
-------------------------

F1-Score:  [0.43202839 0.43202839 0.43202839 0.43199535 0.43202048]

/home/adolpho/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Logistic Regression

In [24]:
from sklearn.linear_model import LogisticRegression
   
clf = LogisticRegression(random_state=7).fit(X, y)

scores = cross_validate(clf, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.7802084615906926
Precision =  0.6916245004098796
Recall =  0.6403005366958697
F1-Score =  0.6551484644943477

# Naive Bayes

In [25]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB
import numpy.random as nr
import sklearn.model_selection as ms

nr.seed(7)
NB_credit = GaussianNB()
scores = cross_validate(NB_credit, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.7483357450962569
Precision =  0.6917059140792288
Recall =  0.7437015624426581
F1-Score =  0.7013775635956054

# Decision Tree

In [26]:
from sklearn import tree

tree_cv = tree.DecisionTreeClassifier()
scores = cross_validate(tree_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.8165262539719389
Precision =  0.7505532679862603
Recall =  0.7188588698231863
F1-Score =  0.7317888064233464

# Random Forest

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

X, y = make_classification(n_samples=1000, n_features=4, n_informative=2, n_redundant=0, random_state=7, shuffle=False)
random_cv = RandomForestClassifier(max_depth=2, random_state=0)

scores = cross_validate(random_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.913
Precision =  0.9145410517327331
Recall =  0.9129787915166068
F1-Score =  0.9128605954657747

# Xgboost

In [28]:
import xgboost as xgb

xgb_cv = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
scores = cross_validate(xgb_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.942
Precision =  0.9451335438015619
Recall =  0.9418767507002801
F1-Score =  0.9417918570214179


 ---------|   ACC    |   Prec   |  Recall  | F1-Score |
 --------------------------------------------------------------------
 ## KNN - | 82,40  | 76,42  |  72,26  |    73,87 |
 ## SVM - | 76,06  | 38,08  |  50,00  |    43,20 |
 ## LR  --- | 78,02 |  69,16  |  64,03  |    65,51 |
 ## NB --- |  74,83 |  69,17  |  74,37  |    70,14 |
 ## DT ---  | 81,65 |  75,05  |  71,89  |   73,18  |
 ## RF ---  | 91,30 |  91,45  |  91,30  |   91,28  |
 ## XGB - |  94,20 |  94,51 |  94,19   |   94,18 |

# Trabalhando agora com classes Balanceadas

In [29]:
datat = data
dzero_index = (datat['Income'] == 0)
dum_index = (datat['Income'] == 1)
dzero = datat[dzero_index]
dum = datat[dum_index]

In [30]:
dzero = dzero[:15000]

In [31]:
dataf = dzero.append(dum)

In [32]:
dataf

,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Gender,Hour_Per_Week,Native,Income
1,2,0,0,1,0,0,4,1,2,5,0
2,3,1,0,0,2,2,4,1,0,5,0
3,2,2,1,2,3,0,4,1,2,5,0
4,3,2,1,0,3,2,2,1,2,5,0
5,1,2,0,0,4,2,2,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...
48816,2,2,4,0,4,2,4,1,3,5,1
48817,2,0,4,0,2,2,4,1,3,5,1
48823,2,2,3,0,4,2,4,1,3,5,1
48827,3,0,4,0,4,2,4,0,2,5,1
48842,1,3,0,0,2,2,4,1,3,5,1

In [33]:
X = dataf[['Age', 'Workclass', 'Education', 'Marital_Status', 'Occupation', 'Relationship', 'Race', 'Gender', 'Hour_Per_Week', 'Native']]
y = dataf['Income']

In [34]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3) # 70% training and 30% test

## KNN

In [35]:
scoring = ['precision_macro', 'accuracy', 'f1_macro', 'recall_macro']
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=23)
#train model with cv of 10

scores = cross_validate(knn_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.763583775740455
Precision =  0.7655822706466446
Recall =  0.7514062594966623
F1-Score =  0.7544730846780329

## Logistic Regression

In [36]:
clf = LogisticRegression(random_state=7).fit(X, y)

scores = cross_validate(clf, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.7573263574282547
Precision =  0.754275555278792
Recall =  0.7568527504677534
F1-Score =  0.7549568238339994

## Naive Bayes

In [37]:
nr.seed(7)
NB_credit = GaussianNB()
scores = cross_validate(NB_credit, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.7450349478688907
Precision =  0.7449678067591565
Recall =  0.7487366345586713
F1-Score =  0.7439963708949153

## Decision Tree

In [38]:
tree_cv = tree.DecisionTreeClassifier()
scores = cross_validate(tree_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.7708537357398484
Precision =  0.7674411474173507
Recall =  0.7688299668764232
F1-Score =  0.7679367851687403

## Random Forest

In [39]:
X, y = make_classification(n_samples=1000, n_features=4, n_informative=2, n_redundant=0, random_state=7, shuffle=False)
random_cv = RandomForestClassifier(max_depth=2, random_state=0)

scores = cross_validate(random_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.913
Precision =  0.9145410517327331
Recall =  0.9129787915166068
F1-Score =  0.9128605954657747

## xgboost

In [40]:
xgb_cv = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
scores = cross_validate(xgb_cv, X, y, cv=10, scoring=scoring)
print('Acurácia = ', np.mean(scores['test_accuracy']))
print('Precision = ', np.mean(scores['test_precision_macro']))
print('Recall = ', np.mean(scores['test_recall_macro']))
print('F1-Score = ', np.mean(scores['test_f1_macro']))

Acurácia =  0.942
Precision =  0.9451335438015619
Recall =  0.9418767507002801
F1-Score =  0.9417918570214179


 ---------|   ACC    |   Prec   |  Recall  | F1-Score |
 --------------------------------------------------------------------
 ## KNN - | 76,36  | 76,55  |  75,14  |    75,44 |
 ## LR  --- | 75,73 |  75,43  |  75,69  |    75,50 |
 ## NB --- | 74,50 |  74,50  |  74,87  |    74,40 |
 ## DT ---  | 77,08 |  76,74  |  76,88  |   76,79  |
 ## RF ---  | 91,30 |  91,45  |  91,30  |   91,28  |
 ## XGB - |  94,20 |  94,51 |  94,19   |   94,18 |